.post-container{
    background-color: #495057d9;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 40px;
    padding: 10px;
}

.register-container{
    border-radius: 5px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

.btn-width{
    width: 350px;
}